

.container {
    display: grid;
    justify-content: center;
    width: 38%;
    height: auto;
    grid-template-areas:
        "a c"
        "b c";
    margin: auto;
}

.a {
    grid-area: a;
    width: 211px;
    height: 413px;
}


.container-2 {
    grid-area: b;
    width: 211px;
    height: 413px;
    background-color: #210140;
   }

.container-3 {
    grid-area: c;
    width: 400px;
    height: 826px;
    background-color: #D9B8B8;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 70px;
    margin: auto;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 20px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 200;
    font-size: 14px;
}

h4{
    font-family: 'Julius Sans One', sans-serif;
    color: white;
    font-size: 20px;
    margin: auto;
    
}

h5 {
    font-family: 'Julius Sans One', sans-serif;
    color: white;
    font-size: 20px;
    margin: auto;
}

.line {
    background-color: #210140;
    width: 320px;
    height: 2px;
    margin-bottom: -5px;
    margin-top: 25px;
}

li {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 200;
    font-size: 15px;
}

.article-1 {
    
    width: 180px;
    margin: auto;
    padding: 10px 0 0 0;
}

.contact {border: 1px;
    margin: auto;
}

.work {border: 1px;
    margin: auto;
    padding: 0px;
}

.mid {
    border: 1px;
    height: 160px;
    line-height: 61px;
    padding: 40px 5px 0 30px;
    
}

.mid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    padding-left: 20px;
    margin-top: 13px;
    margin-bottom: -15px;
}

.mid-title {
  margin-left: 20px;
  margin-bottom: -10px;

}

.inner-inner-mid-3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    padding-left: 20px;
    margin-bottom: -15px;
}

.job {
    font-family: 'Julius Sans One', sans-serif;
    color:#210140;
    font-size: 16px;
    margin: auto;
}

.inner-inner-mid-4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    padding-left: 20px;
    margin-bottom: -15px;
}