.container {
    display: grid;
    justify-content: center;
    width: 38%;
    height: auto;
    grid-template-areas:
        "a c"
        "b c";
    margin: auto;
}

.a {
    grid-area: a;
    width: 211px;
    height: 413px;
}


.container-2 {
    grid-area: b;
    width: 211px;
    height: 413px;
    background-color: #210140;
   }

.main {
    grid-area: c;
    width: 400px;
    height: 826px;
    background-color: #D9B8B8;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 70px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 20px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 200;
    font-size: 15px;
}

h4{
    font-family: 'Julius Sans One', sans-serif;
    color: white;
    font-size: 20px;
    
}

.line {
    background-color: #210140;
    width: 340px;
    height: 2px;
}

li {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 200;
    font-size: 15px;
}

.article-1 {
    width: 180px;
    margin: auto;
    padding: 20px 0 0 0;
}

.contact {
    padding: 0 0 0 -10px;
    margin: auto;
}