*{
    border: 1px solid red;
    
}

.container {
    display: grid;
    justify-content: center;
    width: 38%;
    height: auto;
    grid-template-areas:
        "a c"
        "b c";
    margin: auto;
}

.a {
    grid-area: a;
    width: 211px;
    height: 413px;
}


.article-1 {
    grid-area: b;
    width: 211px;
    height: 413px;
    background-color: #210140;
   }

.c {
    grid-area: c;
    width: 400px;
    height: 826px;
    background-color: #D9B8B8;
}


h2 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 200;
    font-size: 15px;
}